<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Call Out</title>
    <!-- <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    /> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous">
    <link href="/css/output.css" rel="stylesheet">
  </head>
  <body  class="m-0">
    <!-- <div class="bg-fixed" style="background-image: url(../bkg/pexels-jacob-colvin-1761279.jpg)"> -->
      <header class="m-6 flex items-center justify-between">
      <div class="">
        <img src="logo/logo-400px.png" alt="Call Out logo">
      </div>
      <div class="">
        <% if (user.profilePicture) { %> 
          <img src="<%=user.profilePicture%>" alt="profile picture">
        <%} else {%>
          <i class="fa fa-solid fa-tree text-5xl align-bottom mx-4"></i>
        <%}%>
        <span class="mx-4 text-2xl align-middle"><%= user.realName%></span>
        <a href="/logout" class="btn btn-primary mx-4">Logout</a>
      </div>
    </header>

        <!-- <h1 class="font-medium leading-tight text-5xl prose">  <i class="fa fa-solid fa-tree"></i> <a href="/home" class="no-underline">Call Out</a> <i class="fa fa-solid fa-tree"></i></h1> -->
        <!-- <i class="fa fa-solid fa-mountain-sun"></i> -->
        <!-- Subtitle ideas: -->
        <!-- <span>Improving safety for outdoor enthusiasts</span> -->
        <!-- <span>Be safe wherever you go</span> -->
        <!-- <span>All trails eventually lead home</span> -->
