<%- include('partials/header') -%>

<!-- Change to: if user.realname, Name's Trips -->
<h2>My Trips</h2> 

<!-- Show active/most recent trip as steps: -->
<!-- https://tailwind-elements.com/docs/standard/components/stepper/ -->
<!-- 1. created 2.started 3.checked in -->
<!-- If overdue: -->
<!-- <div class="flex justify-center items-center">
  <div class="spinner-grow inline-block w-8 h-8 bg-current rounded-full opacity-0" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div> -->

<!-- Create timeline -->
<!-- https://tailwind-elements.com/docs/standard/components/timeline/ -->

<%- //include('partials/newfooter') -%>

