<%- include('partials/newheader') -%>

<main class="container">
  <div>
    <section class="">

    <h1>New Trip</h1>
    <form action="/trips/createTrip" method="POST">
      <!-- Location -->
      <label class="label">
        <span class="label-text">Where are you going?</span>
      </label>
      <input type="text" class="input input-bordered input-primary w-full max-w-xs" id="location" name="location">
      <!-- Details -->
      <label class="label">
        <span class="label-text">Details</span>
      </label>
      <textarea
        class="textarea textarea-bordered w-3/4"
        id="details" name="details"></textarea>
      <!-- Expected time -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">What time do you expect to return?</span>
        </label>
        <label class="input-group">
          <input type="datetime-local" class="input input-bordered" id="returnTime" name="returnTime">
        </label>
      </div>
      <!-- Latest return time -->
      <div class="form-control">
        <label class="label">
          <span class="label-text"
            >How long after your expected return time should we notify your
            emergency contacts?</span
          >
        </label>
        <label class="input-group">
            <input type="datetime-local" class="input input-bordered" id="notifyTime" name="notifyTime">
            <!-- TODO -->
          <!-- <input type="text" class="input input-bordered" id="notifyTimeDisabled" disabled>
          <select class="select select-bordered" disabled>
            <option>Minutes</option>
            <option selected>Hours</option>
            <option>Days</option>
            <option>Weeks</option>
          </select> -->
        </label>
      </div>

      <!-- <p class="label-text">Be generous - unforseen circumstances may significantly delay you or prevent you from checking in. </p> -->
      <!-- Checkbox for notification -->
      <div class="form-control">
        <label class="label cursor-pointer w-1/6">
          <span class="label-text">Send an email to your contacts if you don't check in?</span>
          <input
            type="checkbox"
            checked="checked"
            class="checkbox checkbox-primary"
            id="notify" name="notify">
        </label>
      </div>
      <!-- Select trip type -->
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text">What kind of trip are you going on?</span>
        </label>
        <select class="select select-bordered" id="tripType" name="tripType">
          <option disabled selected>Pick one</option>
          <option>Hiking</option>
          <option>Camping</option>
          <option>Backpacking</option>
          <option>Climbing</option>
          <option>Caving</option>
          <option>Other</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>
</div>
</main>