body {
    background-color: #3f594e;
    color: white;
}

div.rounded {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}
label {
    display: block;
}
input {
    display: block;
}
#previewTable {
    width: 100%;
}

.img-fluid {
    max-width: 50vw;
    max-height: 70vh;
}

.disabled {
    background-color: grey !important;
}